[submodule "external/KernelSU-Next"]
	path = external/KernelSU-Next
	url = git@github.com:KernelSU-Next/KernelSU-Next.git
	branch = legacy
[submodule "external/KernelSU"]
	path = external/KernelSU
	url = https://github.com/tiann/KernelSU
	branch = main
[submodule "external/Droidspaces-OSS"]
	path = external/Droidspaces-OSS
	url = git@github.com:ravindu644/Droidspaces-OSS.git
